In [1]:
import pandas as pd

In [2]:
# Stanislaus
filename_in = '../data/Stanislaus River/gauges/storage.csv'
filename_out = '../data/Stanislaus River/gauges/storage_cleaned.csv'
df = pd.read_csv(filename_in, index_col=[0], parse_dates=True).fillna(0)
df.to_csv(filename_out)
df.head()

,Lyons Reservoir,Pinecrest Reservoir,Beardsley Reservoir,Donnells Reservoir,Relief Reservoir,New Spicer Meadow Reservoir,New Melones Lake,Lake Tulloch
Date,,,,,,,,
1980-01-01,0.0,0.0,52.546248,17.145372,0.0,0.0,226.713624,73.022016
1980-01-02,0.0,0.0,51.929508,17.392068,0.0,0.0,226.713624,72.528624
1980-01-03,0.0,0.0,51.189420,17.762112,0.0,0.0,226.096884,72.158580
1980-01-04,0.0,0.0,50.942724,17.392068,0.0,0.0,224.493360,71.541840
1980-01-05,0.0,0.0,50.325984,17.392068,0.0,0.0,222.889836,71.048448

In [6]:
# Tuolumne
filename_in = '../data/Tuolumne River/Observed/Reservoirs/GaugeReservoir_mcm_TUO_R3_old.csv'
filename_out = '../data/Tuolumne River/Observed/Reservoirs/GaugeReservoir_mcm_TUO_R3.csv'
df = pd.read_csv(filename_in, index_col=[0], parse_dates=True).fillna(0)['1950-10-01':'2018-09-30'].replace('#VALUE!', 0)
for c in df.columns:
    df[c] = pd.to_numeric(df[c])
df.to_csv(filename_out)

filename_in = '../data/Tuolumne River/Observed/Streamflow/GaugeStreamFlow_cms_TUO_R3_old.csv'
filename_out = '../data/Tuolumne River/Observed/Streamflow/GaugeStreamFlow_cms_TUO_R3.csv'
df = pd.read_csv(filename_in, index_col=[0], parse_dates=True).fillna(0)['1950-10-01':'2018-09-30'].replace('#VALUE!', 0)
for c in df.columns:
    df[c] = pd.to_numeric(df[c])
df.to_csv(filename_out)